/* Ogólne zmniejszenie i uporządkowanie widoku */
.board {
  display: flex;
  flex-direction: column;
  background: #111;
  border: 2px solid #d1d5dc;
}

.line {
  padding-inline: 8px;
  min-height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background 0.3s, border-color 0.3s;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  background-size: 64px 64px; /* dowolny rozmiar SVG */
  flex-grow: 1;
}

.board.reversed {
  flex-direction: column-reverse;
}

.highlighted-line {
  background-color: rgba(255, 255, 0, 0.1);
}

.card-row {
  display: flex;
  gap: 4px;
}

.hand {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1a1a1a;
  padding: 10px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.flyer {
  pointer-events: none;
  position: fixed;
  visibility: hidden;
}

/* Wyróżnienie wybranej karty */
.selected-card {
  transform: translateY(-1rem) scale(1.05);
}
