<div class="min-h-screen bg-green-900 text-white flex flex-col p-4">

  <h1 class="text-3xl font-bold mb-4 text-center">Karciany projekt</h1>

  <!-- STÓŁ GRACZA -->
  <div class="board">
    <div
    class="line"
    *ngFor="let lineName of ALL_CARD_LINES; let i = index"
    [ngClass]="{ 'highlighted-line': highlightedLines.has(lineName) }"
    (click)="placeCardOnLine(lineName)"
    #lineContainer
    >
      <div class="line-label">{{ lineName.toUpperCase() }}</div>
    <div class="card-row">
      <card-component
        *ngFor="let card of lines[lineName]"
        [card]="card"
        [currentRound]="currentRound"
        #boardCard
        [attr.data-id]="card.id"
      ></card-component>
    </div>
  </div>

  </div>

  <!-- RĘKA GRACZA -->
  <div class="hand">
    <card-component
      *ngFor="let card of hand"
      [card]="card"
      [currentRound]="currentRound"
      [clickable]="true"
      (cardClick)="selectCard(card)"
      [ngClass]="{ 'selected-card': selectedCard?.id === card.id }"
      #handCard
      [attr.data-id]="card.id"
    ></card-component>
  </div>


  <!-- Animowana karta "flyer" -->
  <div
    *ngIf="flyerCard"
    [style.display]="flyerStyle.display"
    [style.position]="flyerStyle.position"
    [style.left]="flyerStyle.left"
    [style.top]="flyerStyle.top"
    [style.width]="flyerStyle.width"
    [style.height]="flyerStyle.height"
    [style.transform]="flyerStyle.transform"
    [style.opacity]="flyerStyle.opacity"
    [style.transition]="flyerStyle.transition"
    [style.zIndex]="flyerStyle.zIndex"
  >
    <card-component
      [card]="flyerCard"
      [currentRound]="currentRound"
      [class.pointer-events-none]="true"
    ></card-component>
  </div>
</div>
