<div
  class="w-[83px] h-[125px] rounded-md shadow-md text-white font-semibold select-none flex flex-col justify-between p-1.5 cursor-default
    bg-gradient-to-br
    relative
    hover:scale-105 transition-transform duration-300 ease-in-out
  "
  [ngClass]="[
    getGradientClass(card.line),
    card.unique && card.played === true ? 'border-2' : '',
    card.unique ? 'border-yellow-400 border-1' : 'border-transparent',
    animateBorder ? 'unique-border-animate' : ''
  ]"

  (click)="handleClick()"
>
  <!-- Efekty cząsteczkowe -->
  <div class="absolute inset-0 pointer-events-none z-50">
    <div
      *ngFor="let p of particles"
      class="particle absolute w-1 h-1 rounded-full"
      [ngStyle]="{
        left: p.x + 'px',
        top: p.y + 'px',
        background: p.color,
        '--dx': p.dx + 'px',
        '--dy': p.dy + 'px'
      }"
    ></div>
  </div>

  <!-- Siła: górny prawy róg -->
  <div class="absolute top-1.5 right-1.5 text-base bg-white border-gray-950 border-1 text-black bg-opacity-50 rounded-full w-5 h-5 flex items-center justify-center z-20">
    {{ card.power }}
  </div>

  <!-- Nazwa: środek -->
  <div class="flex-grow flex items-center justify-center text-xs px-1 text-center z-20 leading-tight">
    {{ card.name }}
  </div>

  <!-- Ikony: dolny lewy róg -->
  <div class="absolute bottom-1.5 left-1.5 flex items-center gap-0.5 z-20">
    <!-- Ikona linii -->
    <div
      class="w-4 h-4 rounded-full border-2 bg-white border-gray-950 flex items-center justify-center"
      title="{{ card.line }}"
    >
      <span class="text-[9px]">{{ getLineSymbol(card.line) }}</span>
    </div>

    <!-- Ikona zdolności -->
    <div
      *ngIf="card.ability"
      class="w-4 h-4 rounded-full border-2 border-yellow-300 flex items-center justify-center bg-yellow-500"
      title="{{ card.ability }}"
    >
      <span class="text-[9px]">
        {{ getAbilitySymbol(card.ability) }}
      </span>
    </div>
  </div>
</div>
