@keyframes moveTo {
  to {
    transform: translate(var(--dx), var(--dy)) scale(0.5);
    opacity: 0;
  }
}

.particle {
  transform: translate(-50%, -50%);
  animation: moveTo 1.5s ease-out forwards;
}

@keyframes draw-border {
  0% {
    box-shadow: 0 0 0px gold;
  }
  50% {
    box-shadow: 0 0 10px 3px gold;
  }
  100% {
    box-shadow: 0 0 0px gold;
  }
}

.unique-border-animate {
  animation: draw-border 1.5s ease-out forwards;
}
