<div
  class="w-[128px] h-[192px] rounded-xl shadow-lg text-white font-bold select-none flex flex-col justify-between p-3 cursor-default
    bg-gradient-to-br
    relative
    hover:scale-110 transition-transform duration-300 ease-in-out
  "
  [ngClass]="[
    getGradientClass(card.line),
    card.unique && card.played === true ? 'border-2' : '',
    card.unique ? 'border-yellow-400 border-1' : 'border-transparent',
    animateBorder ? 'unique-border-animate' : ''
  ]"

  (click)="handleClick()"
>
  <!-- Efekty cząsteczkowe -->
  <div class="absolute inset-0 pointer-events-none z-50">
    <div
      *ngFor="let p of particles"
      class="particle absolute w-2 h-2 rounded-full"
      [ngStyle]="{
        left: p.x + 'px',
        top: p.y + 'px',
        background: p.color,
        '--dx': p.dx + 'px',
        '--dy': p.dy + 'px'
      }"
    ></div>
  </div>

  <!-- Siła: górny prawy róg -->
  <div class="absolute top-3 right-3 text-xl bg-white border-gray-950 border-1 text-black bg-opacity-50 rounded-full w-8 h-8 flex items-center justify-center z-20">
    {{ card.power }}
  </div>

  <!-- Nazwa: środek -->
  <div class="flex-grow flex items-center justify-center text-lg px-2 text-center z-20">
    {{ card.name }}
  </div>

  <!-- Ikony: dolny lewy róg -->
  <div class="absolute bottom-3 left-3 flex items-center gap-1 z-20">
    <!-- Ikona linii -->
    <div
      class="w-6 h-6 rounded-full border-2 bg-white border-gray-950 flex items-center justify-center"
      title="{{ card.line }}"
    >
      <span class="text-xs">{{ getLineSymbol(card.line) }}</span>
    </div>

    <!-- Ikona zdolności -->
    <div
      *ngIf="card.ability"
      class="w-6 h-6 rounded-full border-2 border-yellow-300 flex items-center justify-center bg-yellow-500"
      title="{{ card.ability }}"
    >
      <span class="text-xs">
        {{ getAbilitySymbol(card.ability) }}
      </span>
    </div>
  </div>
</div>
